<div class="modal" id="genre-add-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Add new genre</h1>
            <div id="genre-modal-notification" style="display: none;"></div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input type="text" name="" id="genre-new-input" class="input is-fullwidth"
                                   placeholder="Enter genre title...">
                        </p>
                    </div>
                    <a href="" class="button is-success" id="genre-new-create-button">Create</a>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
