{% extends 'base.html' %}

{% block content %}
    <div class="columns" id="main-content">
        <div class="column is-3">
            <figure class="image is-3by4">
                <img src="{{ movie.cover_url }}" alt="Movie cover" style="object-fit: cover; object-position: center;">
            </figure>
            <br>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark">Scores</span>
                        <span class="tag is-info">{{ movie.score_set.count }}</span>
                    </div>
                </div>
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark">Rate</span>
                        <span class="tag is-success">{{ movie.rate.average_rate }}</span>
                    </div>
                </div>
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark">Favorites</span>
                        <span class="tag is-danger" id="favorite-count">{{ movie.favorite_set.count }}</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="content is-small is-marginless">
                <p>
                    <strong>Added by: </strong> {{ movie.user.username }}
                    <span class="is-pulled-right">{{ movie.added_date }}</span>
                </p>
                <p>
                    <strong>Genres: </strong>
                    {% for genre_element in movie.genre.all %}
                        <a href="{% url 'movies:genre-detail' genre_element.title %}">
                            {{ genre_element }}
                        </a>
                    {% endfor %}
                </p>
            </div>
            <hr>
            <aside class="menu">
                {# TODO: create added by and admin section #}
                <p class="menu-label">Actions</p>
                <ul class="menu-list">
                    {% if favorite %}
                        <li id="favorite-button"><a href="">Unfavorite</a></li>
                    {% else %}
                        <li id="favorite-button"><a href="">Favorite</a></li>
                    {% endif %}
                    <li><a href="">Set a score</a></li>
                    {% if movie.trailer_url %}
                        <li><a href="{{ movie.trailer_url }}" target="_blank">Video trailer</a></li>
                    {% endif %}
                </ul>
                {% if movie.user == user or user.is_superuser %}
                    <p class="menu-label">Creator Actions</p>
                    <ul class="menu-list">
                        <li><a href="{% url 'movies:movie-update' movie.pk %}">Edit</a></li>
                        {% if user.is_superuser %}
                            <li><a href="">Hide</a></li>
                            <li><a href="">Delete</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
                {% if movie.related.count > 0 %}
                    <p class="menu-label">Related anime</p>
                    <ul class="menu-list">
                        {% for related in movie.related.all|dictsort:"release_date.year" %}
                            <li>
                                <a href="{% url 'movies:movie-detail' related.pk %}">
                                    {{ related.title }}
                                    <span class="is-pulled-right">({{ related.release_date.year }})</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </aside>
        </div>

        <div class="column">
            <div class="content">
                <h1 class="title">{{ movie.title }}</h1>
                <p class="subtitle">{{ movie.synonym }}</p>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p><strong>Type: </strong>{{ movie.get_type_display }}</p>
                        <p><strong>Status: </strong>{{ movie.get_status_display }}</p>
                        <p><strong>Release date: </strong>{{ movie.release_date }}</p>
                        {% if movie.end_date %}
                            <p><strong>End date: </strong>{{ movie.end_date }}</p>
                        {% elif movie.get_status_display == 'Completed' %}
                            <p><strong>End date: </strong>{{ movie.release_date }}</p>
                        {% else %}
                            <p><strong>End date: </strong>Unknown</p>
                        {% endif %}
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <p><strong>Source: </strong>{{ movie.get_source_display }}</p>
                        <p><strong>Studio: </strong>{{ movie.studio.name }}</p>
                        <p><strong>Episodes: </strong>{{ movie.episodes }} ep.</p>
                        <p><strong>Duration: </strong>{{ movie.duration }} min. per ep.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="content">
                <p class="subtitle">Summary</p>
                <p>
                    {{ movie.summary|default:"This movie description is missing ..." }}
                </p>
                <br>
                <p class="subtitle">
                    Latest reviews
                    {% if movie.score_set.count > 10 %}
                        <span class="is-pulled-right">
                            <a href="">Show all ({{ movie.score_set.count }})</a>
                        </span>
                    {% endif %}
                </p>
                {% if movie.score_set.all.count > 0 %}
                    {% for score in movie.score_set.all|dictsortreversed:"date"|slice:"10" %}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        {% if score.user.first_name and score.user.last_name %}
                                            <strong>
                                                {{ score.user.first_name }}
                                                {{ score.user.last_name }}
                                            </strong>
                                            <span class="tag is-dark is-pulled-right">
                                                {{ score.value }}
                                            </span>
                                            <br>
                                            <small>
                                                @{{ score.user.username }}
                                                {{ score.date }}
                                            </small>
                                        {% else %}
                                            <strong>@{{ score.user.username }}</strong>
                                            <span class="tag is-dark is-pulled-right">
                                                {{ score.value }}
                                            </span>
                                            <br>
                                            <small>{{ score.date }}</small>
                                        {% endif %}
                                        <br>
                                        {{ score.message }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                {% else %}
                    <p>
                        Nobody set a score to this anime.
                        <a href="">You can be first!</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'movies/js/app.js' %}"></script>
    <script src="{% static 'movies/js/movie_detail.js' %}"></script>
{% endblock %}
